Source: tautulli
Section: contrib
Priority: extra
Maintainer: Mhynlo <mhynlok@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.6
Homepage: http://tautulli.com/

Package: tautulli
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, readynasos (>= 6.1.0), python (>= 2.7)
Replaces: plexpy
Description: tautulli
 A Python based monitoring and tracking tool for Plex Media Server.
