#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DH_ALWAYS_EXCLUDE=.git


DESTDIR = $(CURDIR)/debian/tautulli

%:
	dh $@

override_dh_install:
	cp -R $(CURDIR)/rn-files/* ${DESTDIR}/apps/tautulli
	mkdir -p $(CURDIR)/git-files
	if [ -d ./git-files/tautulli ]; then git --git-dir=./git-files/.git pull; fi
	if [ ! -d ./git-files/plexpy ]; then git clone https://github.com/Tautulli/Tautulli.git ./git-files; fi
	cp -R $(CURDIR)/git-files/* ${DESTDIR}/apps/tautulli
