<Application resource-id="tautulli"><!-- 'resource-id' must be AppName -->
  <Name>Tautulli</Name>
  <Author>Mhynlo</Author>
  <Version>2.0.22-ml0</Version>
  <RequireReboot>0</RequireReboot>
  <ConfigURL/>
  <LaunchURL>http://localhost:3034/</LaunchURL>
  <ReservePort>3034</ReservePort>
  <InfoURL>http://tautulli.com/</InfoURL>
  <DebianPackage>tautulli</DebianPackage>
  <ServiceName>fvapp-tautulli.service</ServiceName>
  <Description lang="en-us">A Python based monitoring and tracking tool for Plex Media Server.</Description>
</Application>
